<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sampling Technique Tables</title>
  <!-- <link rel="stylesheet" href="/static/styles.css" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>
  <div class="container">
    <h1>Sampling Technique Tables</h1>
    <p>Generate PDF by entering Experiment Number:</p>
    <form id="downloadForm">
      <div class="inputs">
        <input type="number" id="experimentNumber" placeholder="Enter Experiment Number" required />
        <input type="string" id="studentName" placeholder="Enter Your Name" required />
      </div>
      <button type="submit">Generate PDF</button>
    </form>
    <p id="statusMessage"></p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
